# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE settings
.vscode/

# Python
__pycache__/
*.egg-info/
*.pyc
build/
dist/

# Hydra Output
outputs/
multirun/

# Proprietary Data
data/*
!data/.gitkeep